
.bgInput {
  @apply bg-slate-100/60;
}
.input {
  @apply block w-full rounded-md  border-0 py-1.5   px-2  bgInput text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-[1.0px] focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.plate .describe {
  @apply bg-gradient-to-b from-gray-100 via-gray-50 to-white absolute left-0 top-0 bottom-0 right-0   overflow-y-scroll p-2 duration-500 -translate-y-full;
}
.plate:hover .describe {
  @apply block translate-y-0 ;
}

.plate {
  @apply  rounded-md overflow-hidden   ring-1 ring-slate-500/20 hover:shadow-md;
}

.btn {
  @apply mt-8 flex  items-center justify-center rounded-md  px-4 py-2 text-base font-medium  focus:outline-none focus:ring-2  focus:ring-offset-2;
}
.btn.primary {
  @apply bg-red-600  text-white hover:bg-red-700 focus:ring-red-500;
}
.btn.outlined {
  @apply ring-1 ring-slate-400/10 font-bold focus:ring-slate-500/30      ;
}
.btn.secondary{
  @apply ring-1 ring-secondary-400/60 bg-secondary-400 text-white font-bold text-xl focus:ring-secondary-500  border-none ;
}

.oval {
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 100px / 50px;
 
}
.bottom_nav_item{
  @apply flex flex-col items-center  rounded-md ;
}
.bottom_nav_item_icon{
  @apply content-center  rounded-md p-1 px-3  ;
}
.bottom_nav_item_icon.active{
  @apply bg-secondary-600/20 ;
}

.egg {
  display: block;
 
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.egg::after{
  border:1px solid red
}
.deco-top {
  --top: 
   linear-gradient(#000 0 0) top/100% calc(100% - 50px) no-repeat,
   radial-gradient(farthest-side,#000 98%,#0000) bottom/100px 100px no-repeat;
  -webkit-mask: var(--top);
          mask: var(--top);
          border-radius: 100px /50px;
          border-top:1px solid rgb(128, 128, 128);
}
.deco-bottom {
  --bottom: radial-gradient(calc(1px + 20px) at 50% -10px,#0000 98%,#000);
  -webkit-mask: var(--bottom);
          mask: var(--bottom);
  margin-top: -40px;
  border-top:2px solid rgb(128 128 128 /0.3);
  border-radius: 1000px/50px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}