./back-office/node_modules
./backend/node_modules
./*/mysql.config.ts
*/package-lock.json
./backend/./mysql.config.ts
./backend/upload/
./backend/upload
./backend/upload/img
*/upload
*/upload/img/
./client/node_modules
./client/.env
*/dist/
*/.env